NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2024-01-01"

# Contact Engine - Resend API Configuration
RESEND_API_KEY="re_123456789"
CONTACT_EMAIL="hello@akshay.is-a.dev"
